<!DOCTYPE html>
<html>


    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
   <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>
    <body class="jumbotron">
     <script src="{{ asset('js/jquery.js') }}"></script>
     <script src="{{ asset('js/bootstrap.js') }}"></script>
     
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
