<!DOCTYPE html>
<html>


    <head>
        <meta charset="UTF-8" />
        
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
     	<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    </head>
    <body class="jumbotron">
    
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">

      <a class="navbar-brand" href="#"><img alt="Logo" src="MyRapport_Icon.png" height="30" width="30"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> <a href="#">Projekte <span class="sr-only">(current)</span></a></li>
        <li><a href="hello">Material</a></li>
        <li class="active"><a href="#">Kunden</a></li>
{#         <li class="dropdown">#}
{#           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
{#           <ul class="dropdown-menu">#}
{#             <li><a href="#">Action</a></li>#}
{#             <li><a href="#">Another action</a></li>#}
{#             <li><a href="#">Something else here</a></li>#}
{#             <li role="separator" class="divider"></li>#}
{#             <li><a href="#">Separated link</a></li>#}
{#             <li role="separator" class="divider"></li>#}
{#             <li><a href="#">One more separated link</a></li>#}
{#           </ul>#}
{#         </li>#}
      </ul>
{#       <form class="navbar-form navbar-left" role="search">#}
{#         <div class="form-group">#}
{#           <input type="text" class="form-control" placeholder="Search">#}
{#         </div>#}
{#         <button type="submit" class="btn btn-default">Submit</button>#}
{#       </form>#}
      <ul class="nav navbar-nav navbar-right">
        <li><a>User</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
     <script src="{{ asset('js/jquery.js') }}"></script>
     <script src="{{ asset('js/bootstrap.js') }}"></script>
     
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
