{% extends 'base.html.twig' %}

{% block body %}
    <h1>Stundeneintrag erfassen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class ="btn btn-success" value="Neuer Eintrag" />
    {{ form_end(form) }}

  <li class="list-inline">
            <a class="btn btn-info" href="{{ path('stundeneintrag_index') }}">Zurück</a>
        </li>

   
{% endblock %}
