{% extends 'base.html.twig' %}

{% block body %}
 <script>
	document.getElementById("material").className += "active";

	</script>
	
    <h1>Material erstellen</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Neuer Eintrag" />
    {{ form_end(form) }}

   
        <li class="list-inline">
            <a class="btn btn-info" href="{{ path('material_index') }}">Zurück</a>
        </li>
    
{% endblock %}
