{# app/Resources/views/kunden/kundenTable.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    
    
    <table class="table">
    {% for c in kunden %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.adresse }}</td>
            <td>"haslkdfhlkeds </td>
        </tr>
    {% endfor %}
    </table>
    
{% endblock %}


