{# app/Resources/views/kunden/kundenTable.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    
  
  <table class="table">
    {% for k in kunden %}
        <tr>
            <td>{{ k.id }}</td>
            <td>{{ k.name }}</td>
            <td>{{ k.adresse }}</td>
            <td><button type="button" class="btn btn-default btn-lg"> Edit</button> </td>
        </tr>
    {% endfor %}
    </table>	
    
  
   
{# zhkzhkz7ghktzgktg#}
    
   
    
{% endblock %}


