{# app/Resources/views/kunden/kundenTable.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    
  
    <table class="table">
    {% for c in kunden %}
        <tr>
            <td>{{ c.id }}</td>
            <td>{{ c.name }}</td>
            <td>{{ c.adresse }}</td>
            <td><button type="button" class="btn btn-default btn-lg"> Edit</button> </td>
        </tr>
    {% endfor %}
    </table>
    
   
    
{% endblock %}


