{% extends 'base.html.twig' %}

{% block body %}

 <script>
	document.getElementById("kunde").className += "active";

	</script>
	
	
    <h1>Kunde creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Neuer Eintrag" />
    {{ form_end(form) }}

  
        <li class="list-inline">
            <a class="btn btn-info" href="{{ path('kunde_index') }}">Zurück</a>
        </li>
  
{% endblock %}
