{% extends 'base.html.twig' %}

{% block body %}

    <h1>Projekt erstellen</h1>

<script>
	document.getElementById("projekt").className += "active";

	</script>
  


    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Anlegen" />
    {{ form_end(form) }}

 <li class="list-inline">
            <a class="btn btn-info" href="{{ path('projekt_index') }}">Zurück</a>
        </li>

{% endblock %}
