{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projekt creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Create" />
    {{ form_end(form) }}

 <li class="list-inline">
            <a class="btn btn-info" href="{{ path('projekt_index') }}">Back to the list</a>
        </li>

{% endblock %}
