
{% extends 'base.html.twig' %}
{% block title %}MyRapport Page{% endblock %}

{% block body %}


    <div  id="wrapper">
        <div id="container">
            <div id="Login">
                <h1></h1>
            </div>
             <a ><img alt="Logo" src="/Logo_Transparent.png" width="100%"></a>
        </div>
    </div> 
    
{% endblock %}

{% block stylesheets %}

{% endblock %}


