{# app/Resources/views/default/new.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

<br>
<p>
Erstellen sie einen neuen Kunden
</p>

<div style="width:500px">
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


</div>

{% endblock %}